@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
        <h1 class="display-5">Welcome to Company Portal</h1>
        <p class="lead">We provide software solutions and consulting services.</p>
        <a class="btn btn-primary btn-lg" href="/Services">Our Services</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulting</h5>
                <p class="card-text">Expert IT consultinmg services.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Training</h5>
                <p class="card-text">Professional development training.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Software</h5>
                <p class="card-text">Enterprise software products.</p>
            </div>
        </div>
    </div>
</div>