<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5">Consulting Services</h1>

    <div class="accordion" id="consultAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#one">
                    IT Strategy
                </button>
            </h2>
            <div id="one" class="accordion-collapse collapse">
                <div class="accordion-body">
                    Helping businesses plan technology strategy.
                </div>
            </div>
        </div>
    </div>
</div>
