@{
    ViewData["Title"] = "Training";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <h1 class="display-5">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>ASP.NET Training</h5>
                <p>Learn MVC development.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Cloud Training</h5>
                <p>Azure & AWS fundametals.</p>
            </div>
        </div>
    </div>
</div>